@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/bg.png');
  background-repeat: repeat;
  background-size: auto;
}


@font-face {
  font-family: 'Rem';
  src: url('/fonts/Rem-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.rem {
  font-family: 'Rem', sans-serif;
}

@font-face {
  font-family: 'Hammersmith';
  src: url('/fonts/HammersmithOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.hammersmith {
  font-family: 'Hammersmith', sans-serif;
}